
* {box-sizing: border-box;}

.img-zoom-container {
    position: relative;
}

.img-zoom-lens {
    position: absolute;
    /*set the size of the lens:*/
    width: 40px;
    height: 40px;
}

.img-zoom-result {

    /*border: 5px solid #000000;*/
    /*set the size of the result div:*/
    width: 300px;
    height: 300px;
}
.myDiv
{
    align: center;
    padding: 30px;
    margin: 10;
    border-left:  10px solid navy;   
}

.hpanel{
    position: relative;
    top: 0px; left: 0px;
}

