
a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    float:left;
    display:block;
    height: 26px;
    line-height: 24px;
    padding: 2px 10px 0 10px;
    color: #cccc00;
    text-decoration:#A3979A;
    background-color: white;
        border: white; 
    padding: 0px
}
a.hover {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    float:left;
    display:block;
    height: 26px;
    line-height: 24px;
    color: #cccc00;
    text-decoration: none;
    
    background-color: white;
    border: white; 
    padding: 0px
}

.menus
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    float:right;
    
   
    color: #cccc00;
    text-decoration:#A3979A;
    background-color: white;
    border: white; 
    padding: 0px ;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px; 
}

  .affaires .ui-menuitem-text{color:#cccc00; 
                       decoration: bold, italic;
                   
  }
  .affaires .ui-menu-child{background: white; mouseover: #000; 
                         background-color: #A80000;}
   .affaires .ui-menubar{mouseover: #000; 
                         background-color: #A80000;}
    .affaires .ui-state-hover {}
    
  a.active {
    color: #D09d23;
    font-weight: bold;
    background-color : #c7c3c3;
}